name: Salesforce Deploy
on: 
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Install Salesforce CLI
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - run: npm install -g sfdx-cli@latest   
      
      - name: Convert source to Metadata API format
        run: |
         mkdir unpackaged
         mv force-app/main/default unpackaged
         sfdx force:source:convert -r unpackaged -d mdapi_output_dir --loglevel debug
         rm -rf unpackaged
               
      - name: Create package.xml
        run: |
         echo '<?xml version="1.0" encoding="UTF-8"?><Package xmlns="http://soap.sforce.com/2006/04/metadata"><version>50.0</version></Package>' > mdapi_output_dir/package.xml
                
      - name: Authorize Dev Hub
        run: |
         sfdx auth:jwt:grant --clientid ${{ secrets.CLIENT_ID }} --jwtkeyfile server.key  --username ${{ secrets.USERNAME }} --setdefaultdevhubusername -a DevHub
              
      - name: Deploy to org
        run: |
          sfdx force:source:deploy -p mdapi_output_dir --targetusername ${{ secrets.USERNAME }} 
            
      - name: Open org
        run: |
         sfdx force:org:open -u ${{ secrets.USERNAME }}
